body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url('https://media.istockphoto.com/photos/bank-picture-id528585263?k=6&m=528585263&s=170667a&w=0&h=TyDxqtSeEnftoQNMIcGHKcU7t4CuGZFUynjbghsf4I8=');
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 2em;
}

.search-bar {
    text-align: center;
    margin: 20px;
}

.search-bar input {
    padding: 10px;
    width: 80%;
    font-size: 1.2em;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.bank-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    background: transparent;
}

.bank {
    background-color: #ffffff8c;
    width: 250px;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bank:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.bank h3 {
    color: #4CAF50;
    margin-bottom: 15px;
}

.bank .queue, .bank .register {
    margin-bottom: 15px;
}